Source: 7digital-mono
Section: unknown
Priority: extra
Maintainer: Hibri Marzook <hibri.marzook@7digital.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/7digital-mono.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/7digital-mono.git;a=summary

Package: 7digital-mono
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
